.block{
	display: flex;
	flex-direction: column;
}


#page_title_field{
	margin-top: 20px;
	margin-bottom: 20px;
}

#component_input_data_div{
	margin-top: 10px;
}

#add_component_bt, #save_page {
	margin-top: 20px;
}

.componentDiv {
	flex-direction: row;
	flex-grow: 1;
	align-items: 'stretch'
}

#component_input_data_div{
	flex-grow: 1;
	margin: 0px;
	margin-left: 10px;
}

#h_collection_input_textarea{
	margin-top: 5px;
	height: 250px;
}

.selector, .textfield, .submitButton{
	min-height: 40px;
}

#component_list{
	flex: 1;
	display:flex;
	flex-direction:column;
	margin: 50px;
}

.preview_rowdiv{
	flex: 1;
	display:flex;
	flex-direction:row;	
}

.preview_designdiv{
	flex: 1;
}

.preview_designpropdiv{
	flex: 1;
	background-color: #b8d8db;
}
